<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('shop_main_homepage') }}">Strona Główna</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills navbar-left" >
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_movies') }}">Filmy</a></li>
                {% endif %}
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_categories') }}">Kategorie</a></li>
                {% endif %}
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_actors') }}">Aktorzy</a></li>
                {% endif %}

            </ul>


            <ul class="nav nav-pills  navbar-right" role="tablist">
                <li role="presentation"><a href="#">Koszyk <span class="badge">0</span></a></li>
                {% if app.user is not empty %}
                    <li role="presentation"><a href="">{{ app.user }}</a></li>
                {% endif %}

                {% if app.user is not empty %}
                    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
{#<nav class="navbar navbar-fixed-top navbar-inverse">#}
    {#<div class="container">#}
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
            {#<a class="navbar-brand" href="#">Project name</a>#}
        {#</div>#}


        {#<div id="navbar" class="collapse navbar-collapse">#}
            {#<ul class="nav navbar-nav">#}
                {#<li class="active"><a href="#">Home</a></li>#}
                {#<li><a href="#about">About</a></li>#}
                {#<li><a href="#contact">Contact</a></li>#}
            {#</ul>#}
        {#</div><!-- /.nav-collapse -->#}



    {#</div><!-- /.container -->#}
{#</nav><!-- /.navbar -->`#}