<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('shop_main_homepage') }}">Strona Główna</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills navbar-left" >
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_movies') }}">Filmy</a></li>
                {% endif %}
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_categories') }}">Kategorie</a></li>
                {% endif %}
                {% if app.user is not empty %}
                    <li ><a class="active" href="{{ path('shop_main_actors') }}">Aktorzy</a></li>
                {% endif %}

            </ul>


            <ul class="nav nav-pills  navbar-right" role="tablist">
                {% if app.user is not empty %}
                    {#<li role="presentation"><a href="{{ path('shop_main_cart') }}">Koszyk <span class="badge">{{ app.user.getCartCount()}}</span></a></li>#}
                    <li role="presentation"><a href="{{ path('shop_main_current_user') }}">{{ app.user }}</a></li>
                {% endif %}

                {% if app.user is not empty %}
                    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
