{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1 class="col-md-offset-5 col-centered">Dodaj film</h1><br/>
{% form_theme form 'bootstrap_3_layout.html.twig' %}
	<form method="POST"  class="col-md-offset-5 col-centered">
		{{ form_row(form._token) }}
		<table border="0" >
			<tr>
				<td>{{ form_label(form.title) }}&nbsp&nbsp</td>
				<td>{{ form_widget(form.title) }}</td>
			</tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.description) }}&nbsp&nbsp</td>
				<td>{{ form_widget(form.description) }}</td>
			</tr></tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.price) }}&nbsp&nbsp</td>
				<td>{{ form_widget(form.price) }}</td>
			</tr></tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.cover) }}&nbsp&nbsp</td>
				<td>{{ form_widget(form.cover) }}</td>
			</tr></tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.stream) }}&nbsp&nbsp</td>
				<td>{{ form_widget(form.stream) }}</td>
			</tr></tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.actors) }}&nbsp&nbsp</td>
				<td>{{  form_widget(form.actors) }}</td>
			</tr></tr><tr><td>&nbsp</td></tr>
			<tr>
				<td>{{ form_label(form.categories) }}&nbsp&nbsp</td>
				<td>{{  form_widget(form.categories) }}</td>
			</tr>



		</table><br/>
		<button class="col-md-offset-2 col-centered" type="submit">Dodaj film</button>
	</form>

	<br />

{#<div class="container">#}
	{#<div class="row">#}
		{#<div class="span12">#}
			{#<div class="" id="loginModal">#}
				{#<div class="modal-header">#}
					{#<h3>Dodawanie filmu</h3>#}
				{#</div>#}
				{#<div class="modal-body">#}
					{#<div class="well">#}
						{#<div class="tab-pane active in" id="register">#}
							{#<form id="tab" class="form-horizontal"  method="POST" >#}
								{#{{ form_row(form._token) }}#}
								{#<br>#}

								{#<div class="form-group">#}
									{#<label class="control-label col-sm-2" for="shop_mainbundle_movie_title">Tytuł:</label>#}
									{#<div class="col-sm-10">#}
										{#<input class="form-control" type="text" id="shop_mainbundle_movie_title" name="shop_mainbundle_movie[title]" required="required" maxlength="255" pattern=".{3,}" placeholder="tytuł">#}
									{#</div>#}
								{#</div>#}

								{#<div class="form-group">#}
									{#<label class="control-label col-sm-2" for="shop_mainbundle_movie_price">Cena:</label>#}
									{#<div class="col-sm-10">#}
										{#<input class="form-control" type="text" id="shop_mainbundle_movie_price" name="shop_mainbundle_movie[price]" required="required" maxlength="255" pattern="^\d+(\.|\,)\d{2}$" placeholder="Cena">#}
									{#</div>#}
								{#</div>#}

								{#<div class="form-group" >#}
									{#<label class="control-label col-sm-2" for="shop_mainbundle_movie_description">Opis:</label>#}
									{#<div class="col-sm-10"  >#}
										{#&#123;&#35;<input class=" form-control"   type="text" id="shop_mainbundle_movie_title" name="shop_mainbundle_description[description]" required="required"  placeholder="Opis">&#35;&#125;#}
										{#<textarea class="form-control" rows="4" id="shop_mainbundle_movie_description" name="shop_mainbundle_movie[description]"  placeholder="Krótki opis filmu"></textarea>#}
									{#</div>#}
								{#</div>#}


								{#<div class="form-group" >#}
									{#<label class="control-label col-sm-2" for="shop_mainbundle_movie_description">Kategoria:</label>#}
									{#<div class="col-sm-10"  >#}
										{#<div class="btn-group" data-toggle="buttons">#}
											{#<ul>#}
												{#{% for cat in form.categories %} }}#}
													{#<li><input type="number" id="form_age" name="form[age]" required="required" value="33" />{{ form_label(cat) }}</li>#}
												{#{% endfor %}#}
											{#</ul>#}
											{#<label class="btn btn-primary">#}
												{#<input type="checkbox" autocomplete="off">sss#}
											{#</label>#}
											{#<label class="btn btn-primary">#}
												{#<input type="checkbox" autocomplete="off"> Checkbox 3#}
											{#</label>#}
										{#</div>#}
									{#</div>#}
								{#</div>#}


								{#{{ form_label(form.categories) }}#}


								{#<div class="form-group">#}
									{#<div class="col-sm-offset-2 col-sm-10">#}
										{#<button class="btn btn-default" type="submit">Dodaj Kategorię</button>#}
										{#{% for flashMessage in app.session.flashbag.get('notice') %}#}
											{#<div class="flash-notice" class="alert alert-info">#}
												{#<button class="close" data-dismiss="alert" >times</button>#}
												{#{{ flashMessage }}#}
											{#</div>#}
										{#{% endfor %}#}
									{#</div>#}
								{#</div>#}
							{#</form>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}



{% endblock %}
