{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}


    <div class="row">
         <div class="col-sm-4">
              <div class="panel panel-default">
                    <div class="panel-body">
                        <img src='{{ movie.cover }}' width="340" height="460" >
                    </div>
              </div>
         </div>


       <div class="col-sm-8">
           <div class="panel panel-default">
             <div class="panel-heading"> <h3>{{ movie.title }}</h3></div>
              <div class="panel-body">

                  <p class="pull-right">
                      <h5 class="pull-left"><b style="margin: 10px">Kategorie:</b></h5>

                      {% for item in category %}
                          <big STYLE="margin: 5px;"><span class="label label-success"><b>{{ item }}</b></span></big>
                  {% endfor %}
                  </p>
                <div class="clearfix"></div>
                <hr>
                <p><h3 class="pull-right"><small>Cena</small> {{ movie.price }}</h3></p>
              </div>
           </div>

            <div class="col-sm-8">

                {% set watch = 'false' %}
                {% for order in  app.user.orders %}
                    {% if order.status.id == 3 %}
                        {% for item in order.movies %}
                            {% if item.id == movie.id %}
                                <a class="btn btn-success btn-lg pull-right" type="button" role="button" style="paddingt: 20px; margin: 10px" >Oglądaj</a>
                                {% set watch = 'true' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if watch == 'false' %}
                    <a href="{{ path('shop_main_current_user_addToCart', {'id': movie.id }) }}" class="btn btn-danger btn-lg pull-right" type="button" role="button" style="paddingt: 20px; margin: 10px"  >Dodaj do koszyka</a>
                {% endif %}
            </div>

       </div>
    </div>




    <div class="row">

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Recenzja</h4></div>
                <div class="panel-body">
                    <div class="list-group">
                        {{ movie.description }}
                    </div>
                    </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Aktorzy</h4></div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group">
                                {% for item in actors %}
                                    <li class="list-group-item">{{ item }}</li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"> <h4>Opinie</h4></div>
                <div class="panel-body">
                    {% for item in movie.getReviews() %}
                        <p>  {{ item.content }} <small class="pull-right">{{ item.author }}</small> </p>
                        <hr>
                    {% endfor %}
                <div class="clearfix"></div>

                <form>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                        </div>
                        <input type="text" class="form-control" placeholder="Dodaj opinię..">
                    </div>
                </form>
            </div>
        </div>
    </div>













{% endblock %}
