{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-heading"><h4>Edycja filmu: <b>{{ movies.title }}</b></h4></div>
    <div class="panel-body">
        <a href="{{ path('shop_main_movies') }}" class="btn btn-primary" role="button">Porzuć zmiany i cofnij</a>
    </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-heading"><h4>Bieżace dane:</h4></div>

    <table   class="table table-striped table-bordered"   >
        <tr>
            <td><b>Cover</b></td>
            <td><b>Tytuł</b></td>
            <td><b>Liczba sprzedaży</b></td>
            <td><b>Cena</b></td>
            <td><b>Kategoria</b></td>
            <td><b>Aktorzy</b></td>
            <td><b>Stream</b></td>
            <td><b>Opis</b></td>

        </tr>
        <tr>
            <td style="width: 120px"><img src='{{ movies.cover }}' width="120" height="120" ></td>
            <td>{{ movies.title }}</td>
            <td>{{ movies.numberOfSales }}</td>
            <td>{{ movies.price }}</td>
            <td>
            {% for item in category %}
                {{ item }} <br />
            {% endfor %}
            </td>
            <td>
            {% for item in actors %}
                {{ item }} <br/>
            {% endfor %}
            </td>
            <td>{{ movies.stream }}</td>
            <td>{{ movies.description }}</td>
        </tr>
    </table>
</div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Wprowadz nowe dane:</h4></div>
        
        <form method="POST"  class="col-md-offset-5 col-centered">


            <button class="col-md-offset-2 col-centered" type="submit">Dodaj film</button>
        </form>
 </div>

{% endblock %}




