{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1 class="col-md-offset-5 col-centered">Lista Filmów</h1>

	<table class="col-md-offset-4 col-centered">
		<tr>
			<td><b>No.&nbsp&nbsp</b></td>
			<td><b>Tytuł&nbsp&nbsp</b></td>
			<td><b>Liczba sprzedanych&nbsp&nbsp</b></td>
			<td><b>Cena&nbsp&nbsp</b></td>
			<td><b>Aktor&nbsp&nbsp</b></td>
			<td><b>Kategoria&nbsp&nbsp</b></td>
			<td><b>Opis</b></td>

		</tr>

	{% for item in movies %}
		<tr>
			<td>{{ loop.index }}&nbsp&nbsp</td>
			<td>{{ item.title }}&nbsp&nbsp</td>
			<td>{{ item.numberOfSales }}&nbsp&nbsp</td>
			<td>{{ item.price }}&nbsp&nbsp</td>
			<td>[[Tu mial sie pojawic aktor]]&nbsp&nbsp</td>
			<td>[[Kategoria ]]&nbsp&nbsp</td>
			<td>{{ item.description }}</td>
		</tr>
	{% endfor %}
	</table><br/>
{% endblock %}
