{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<div class="panel panel-default">

		<div class="panel-heading"><h4>Lista wszystkich filmów</h4></div>
		<div class="panel-body">
			<a href="{{ path('shop_main_movies_create') }}" class="btn btn-primary" role="button">Dodaj Film</a>
		</div>


		{#<!-- Table -->#}
		<table   class="table table-striped table-bordered"   >
			<tr>
				<td><b>No.</b></td>
				<td><b>Tytuł</b></td>
				<td><b>Liczba sprzedaży</b></td>
				<td><b>Cena</b></td>
				<td><b>Kategoria</b></td>
				<td><b>Edycja</b></td>
				<td><b>Szczegóły</b></td>
				<td><b>Kasowanie</b></td>
			</tr>
			{% for item in movies %}
				<tr>
					<td style="width: 70px">{{ loop.index }}</td>
					<td>{{ item.title }}</td>
					<td style="width: 150px">{{ item.numberOfSales }}</td>
					<td style="width: 100px">{{ item.price }}</td>
					<td>
						<lu class="list list-unstyled">
							{% for cat in item.categories %}
								<li>{{ cat }}</li>
							{% endfor %}
						</lu>
					</td>
					<td style="width: 80px">
						<a href="{{ path('shop_main_movies_edit', {'id': item.id }) }}" class="btn btn-primary btn-sm" role="button">Edytuj</a>
					</td>
					<td style="width: 80px">
						<a href="{{ path('shop_main_movies_details', {'id': item.id}) }}" class="btn btn-primary btn-sm" role="button">Wiecej</a>
					</td>
					<td style="width: 80px">
						<a href="{{ path('shop_main_movies_delete', {'id': item.id}) }}" class="btn btn-primary btn-sm" role="button">Skasuj</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
