{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Koszyk</h4></div>

        {#<!-- Table -->#}
        <table   class="table table-striped table-bordered"   >
            <tr>
                <td><b>No.</b></td>
                <td><b>Tytuł</b></td>
                <td><b>Cena</b></td>
                <td><b>Kategoria</b></td>
                <td><b>Szczegóły</b></td>
                <td><b></b></td>
            </tr>
            {% for item in cart %}
                <tr>
                    <td style="width: 70px">{{ loop.index }}</td>
                    <td>{{ item.title }}</td>

                    <td style="width: 100px">{{ item.price }}</td>
                    <td>
                        <lu class="list list-unstyled">
                            {% for cat in item.categories %}
                                <li>{{ cat }}</li>
                            {% endfor %}
                        </lu>
                    </td>
                    <td style="width: 80px">
                        <a href="{{ path('shop_main_movies_details', {'id': item.id}) }}" class="btn btn-primary btn-sm" role="button">Szczegóły</a>
                    </td>
                    <td style="width: 80px">
                        <a href="{{ path('shop_main_cart_remove', {'id': item.id}) }}" class="btn btn-primary btn-sm" role="button">Usuń z listy</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="panel-footer">

            <span ><h3><b><small>Łączna kwota zamówienia: </small><big>{{ totalCost }}</big></b></h3></span><br>
            {% if cart != NULL %}
                <a href="{{ path('shop_main_orders_create') }}" class="btn btn-primary" role="button">Zrealizuj zamówienie</a>
                {% endif %}
        </div>
    </div>
{% endblock %}