{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
         <div class="col-sm-4">
              <div class="panel panel-default">
                    <div class="panel-body">
                        <img src='{{ app.user.avatar  }}' width="340" height="460" >
                    </div>
              </div>
         </div>


       <div class="col-sm-8">
           <div class="panel panel-default">
             {#<div class="panel-heading"> <h3>{{ movies.title }}</h3></div>#}
              <div class="panel-body">

                  <p class="pull-right">
                      <h4 class="pull-left"><b style="margin: 10px"><small>Użytkownik:</small></b></h54>


                        <h2 class="center-block text-center">{{ app.user }}</h2>

                  </p>
                <div class="clearfix"></div>
                <hr>
                <p><h3 class="pull-right"><small>{{ app.user.email}}</small> </h3></p>
              </div>
           </div>

            {#<div class="col-sm-8">#}
                {#<button class="btn btn-danger btn-lg pull-right" type="button" style="paddingt: 20px; margin: 10px">Wypożycz</button>#}

                {#<button class="btn btn-success btn-lg pull-right" type="button" style="paddingt: 20px; margin: 10px">Oglądaj</button>#}
            {#</div>#}

       </div>
    </div>



    <div class="panel panel-default">

        <div class="panel-heading"><h4>Lista zakupionych filmów</h4></div>


        {#<!-- Table -->#}
        <table   class="table table-striped table-bordered"   >
            <tr>
                <td><b>Tytuł</b></td>
                <td><b>Cena</b></td>
                <td><b>Kategoria</b></td>
                <td><b>Data Założenia zamówienia</b></td>
                <td><b>Data Realizacji</b></td>
                <td><b>Status</b></td>
                <td><b>Szczegóły</b></td>

            </tr>
            {% for order in orders %}
                {% for movie in order.movies %}
                    <tr>
                        <td>{{ movie.title }}</td>


                        <td style="width: 100px">{{ movie.price }}</td>
                        <td>
                        <lu class="list list-unstyled">
                            {% for cat in movie.categories %}
                                <li>{{ cat }}</li>
                            {% endfor %}
                        </lu>
                         <td style="width: 100px">{{ order.dateOfCreateOrder.format('Y-m-d H:i:s')}}</td>
                        {%  if order.dateOfExecutionOrder == NULL  %}
                            <td >W trakcie realizacji</td>
                        {% else %}
                            <td >{{ order.dateOfExecutionOrder.format('Y-m-d H:i:s')}}</td>
                        {% endif %}
                        <td style="width: 100px">{{ order.status.status}}</td>
                        <td style="width: 80px">
                        <a href="{{ path('shop_main_movies_details', {'id': movie.id}) }}" class="btn btn-primary btn-sm" role="button">Szczegóły</a>

                    </tr>
                    {% endfor %}
            {% endfor %}
        </table>
    </div>

{% endblock %}